apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mssql

resources:
  - ../../../../components/applications/mssql

# Dev-specific patches
patches:
  - patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 5Gi
    target:
      kind: PersistentVolumeClaim
      name: mssql-data
